html, body{
font-family: 'Roboto', Arial, sans-serif;
}
/*style for searchbar */
.input-group{
  vertical-align: center;
}

/*style for button */
.btn{
  color: white;
  float: left;
}

.btn-flat{
  color: white;i
  height: 47%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#btnprofile{
  display: block;
  float: right;
  margin-right: 20px;
  color: #00a3cc;
}

/*css for profile page */

a:hover#like {
  text-decoration: none;
  color:#ff0000;
}

/*cover page*/
.start-temp{
  text-align:center;
  height: 760px;
  font-size:20px;
  padding: 40px 50px;
/*  background-image: url('images/twitter.jpg');*/
}
.paragraph{
  text-align: center;
  margin-top: 170px;
}
#title{
  text-align: center;
  margin-top: 70px;
}
.btn1{
  vertical-align: center;
  margin-top: 70px;
  margin-right:-170px;
  margin-left: 350px;
  font-size: 20px;
}


/*css for login and sign up forn */

body {
  background: white !important;
  font-family: Verdana;
}

.site-footer {
  flex: 1;
}

i{
  margin-left: 20px;
  margin-right: 20px;
}
.wrapper {
  margin-top: 80px;
  margin-bottom: 180px;
}

.form-signup {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

::-webkit-input-placeholder {
  font-size:20px !important;
}

::-webkit-input-name {
  font-size:20px !important;
}


.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

nav .brand-logo{
  font-size: 30px;
  font-family: Verdana;
  margin-left: 5%;
}

nav ul a{
  font-size: 20px;
}
