extends ./layouts/main.pug

block content
  .container
    .wrapper
      .col.s3
        .form-signup
          each r in res
            h4.indigo-text#text-darken-2 Your Password is :
            br
            br
            input.form-control(type='text', name='password', required='', autofocus='',id = "password", value=r.password)
            a(href='login')
              button.waves-effect.waves-light.indigo.btn(type='submit') Go to Log-In
            br
            br
            br
