extends ./layouts/main.pug

block content
  .container
    div.start-temp
      h1#title.indigo-text.text-darken-2 Welcome to Twitter!!!
      div.paragraph
        h4 Be connected with your loved ones...
        h4 Social Media
        h4 Online Platform
      form(action='/login')
        button.waves-effect.waves-light.indigo.btn.btn1.btn-block Login
      form(action='/register')
        button.waves-effect.waves-light.indigo.btn.btn1.btn-block SignUp


  .carousel.carousel-slider.center(data-indicators='true')
    //- .carousel-fixed-item.center
    //-   a.btn.waves-effect.white.grey-text.darken-text-2 button

    .carousel-item.red.white-text(href='#one!')
      h2 First Panel

      p.white-text This is your first panel

    .carousel-item.amber.white-text(href='#two!')
      h2 Second Panel

      p.white-text This is your second panel

    .carousel-item.green.white-text(href='#three!')
      h2 Third Panel

      p.white-text This is your third panel

    .carousel-item.blue.white-text(href='#four!')
      h2 Fourth Panel

      p.white-text This is your fourth panel

  .parallax-container
    .parallax
        img(src='images/download.jpeg')

    .section.white
      .row.container
        h2.header Parallax

        p.grey-text.text-darken-3.lighten-3
          | Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.


  script.
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    $(document).ready(function(){
      $('.parallax').parallax();
    });
