extends ./layouts/main.pug

block content
  .container
    .wrapper
      form.form-login(action='/login' method='POST')
        h3.indigo-text.text-darken-2 Please Login
        br
        br
        .row
          .input-field.col.s12
              input.validate(type='text', name='emailid', required='', autofocus='',id = "emailid")
              label(for='emailid') Email Address

              -if(errors)
                each error in errors
                  -if(error.param == 'emailid')
                    div= error.msg

        .row
          .input-field.col.s12
              input.validate(type='password', name='password', required='', autofocus='',id = "password")
              label(for='Password') Password

              -if(errors)
                each error in errors
                  -if(error.param == 'password')
                    div= error.msg



        button.waves-effect.waves-light.indigo.btn.btn-block(type='submit') Login
        br
        br
        br
        label(style='font-size:15px;') Don't Have an Account?
        a(href='register', style = "margin : 5px;") Create Account
        br
        label(style='font-size:15px;') Forgot Password?
        a(href='resetpassword', style = "margin : 5px;") Click Here!
        br
