extends ./layouts/main.pug

block content
  .container
    .wrapper
      form.form-signup(action='/register' method='POST', enctype='multipart/form-data')
        h3.indigo-text.text-darken-2 Join Today
        br
        br
        input.form-control(type='text', name='fullname', placeholder='Enter your name', autofocus='', id='fullname', autocomplete='off')
        -if(errors)
          each error in errors
            -if(error.param == 'fullname')
              div= error.msg
        input.form-control(type='email', name='emailid', placeholder='Email-Id', id="emailid", autocomplete='off')
        -if(errors)
          each error in errors
            -if(error.param == 'emailid')
              div= error.msg
        input.form-control(type='password', name='password', placeholder='password', id="password", autocomplete='off')
        -if(errors)
          each error in errors
            -if(error.param == 'password')
              div= error.msg
        br
        label(style='font-size:15px;') Select Profile Picture :
        br
        .file-field.input-field
          .btn.indigo
            span Browse
            input(type='file', name='file', required)
          .file-path-wrapper
            input.file-path.validate(type='text', placeholder='Upload file')
        br
        br
        label(style='font-size:15px;') Select Your Security Question* :
        br
        br
        select.dropdown-button.btn.indigo(name='question')
          option(value='bof') Birth-place of your father
          option(value='bom') Birth-place of your Mother
          option(value='fcc') Your Favourite Cartoon Character
          option(value='fmn') Your First Mobile-Number
          option(value='bf') Your Best Friend
        br
        br
        input.form-control(type='text', name='answer', placeholder='Your Answer', required='', autofocus='',id = "answer", autocomplete='off')
        br
        button.waves-effect.waves-light.indigo.btn.btn-block(type='submit') SignUp
        br
        br
        br
        label(style='font-size:15px;') * :- Security question's answer will be helpul when you forget your password...

        script.
          var question = document.getElementById("question");
          var returnvalue = question.options[question.selectedIndex].value;
        br
        br
        label(style='font-size:15px;') Already Having an Account?
        a(href='login', style = "margin : 5px;") Click Here!
        br
